

.font-1 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-2 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

  .font-3 {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-4 {
    font-family: "Halant", serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-5 {
    font-family: "Arya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-6 {
    font-family: "Tiro Devanagari Hindi", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-7 {
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-8 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  


  .font-9 {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.font-10 {
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  


.font-11 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight:100;
  font-style: normal;
}

.font-12 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-13 {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-14 {
    font-family: "Laila", serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-15 {
    font-family: "Noto Serif Devanagari", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .font-16 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .font-17 {
    font-family: "Alkatra", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-18 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  .font-20 {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-21 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
